html {
  scroll-behavior: smooth;
}

body {
  font-size: 30px
}

h1, h2, h3 {
  text-align: center;
}

.main {
  text-decoration: none;
}

a {
  display: block;
  cursor: pointer;
}

a:hover {
  color: brown;
  text-decoration: none;
}

img {
  width: 100px;
}

.box {
  border: 1px solid green;
  width: 30%;
  padding: 10px;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.one {
  color:aqua;
}

.active {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

.menu {
  display: none;
}

.goToTop{
  text-decoration: none;
  color: black;
}

.dropdown-menu {
  display: block;
}

.green {
  color: green;
}

i {
  display: block;
}

p, .modal, textarea, .product {
  cursor: pointer;
}
